body {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-weight: bolder;
  animation: h-animation 1.5s infinite alternate;
}

@keyframes h-animation {
  from {
    font-weight: lighter;
  }

  to {
    font-weight: bolder;
  }
}
